@media only screen and (max-width: 768px) {
    .card-title{
        font-size: 18px;
    }
    input[type=text]{   
        font-size: 11px;
    }
}
@media only screen and (max-width: 480px) {
    .nav-item{
        font-size: 12px;
	}
	.card-title{
        font-size: 16px;
	}
	 p{
        font-size: 11px;
    }
   
}
@media only screen and (max-width: 280px) {
    p{
        font-size: 11px;
    }
     label{
        font-size: 11px;
    }
   input[type=text]{   
        font-size: 11px;
    }
}