.classe{
	position:relative;
	top:7px;
	width:50%;
	left:25%;
	}
#textoCadastro{
	font-size:30px
}
.botaoSair{
	position:relative;
	left:25%;
}
.botaoCadastrar{
	position:absolute;
	right:25%;
}