<div class="ficha-contents">
  <div class="ficha-contents-header-fichas">
  <h1>Ficha A</h1>
  <button mat-button color="accent"> Voltar</button></div>
  <div class="ficha-contents-down">
    <mat-tab-group class="ficha-contents-down">
      <mat-tab label="Preparatório">
        <h4></h4>
        <app-exercicios></app-exercicios>
      </mat-tab>
      <mat-tab label="Musculação">
        <h4></h4>
        <app-exercicios></app-exercicios>
      </mat-tab>
      <mat-tab label="Cardiorespiratório">
        <h4></h4>
        <app-exercicios></app-exercicios>
      </mat-tab>
      <mat-tab label="Alongamento">
        <h4></h4>
        <app-exercicios></app-exercicios>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>