<div class="ficha-contents">
    <h1>Ficha B</h1>
      <div class="ficha-contents-header-fichas"
      >
      <div class="ficha-contents-down">
        <mat-tab-group class="ficha-contents-down">
          <mat-tab [label]=programa[0].titulo>
            <h4></h4>
            <app-exerciciobprep></app-exerciciobprep>
          </mat-tab>
          <mat-tab [label]="programa[1].titulo">
            <h4></h4>
            <app-exerciciobmusc></app-exerciciobmusc>
          </mat-tab>
          <mat-tab [label]="programa[2].titulo">
            <h4></h4>
            <app-exerciciobcard></app-exerciciobcard>
          </mat-tab>
          <mat-tab [label]="programa[3].titulo">
            <h4></h4>
            <app-exerciciobalong></app-exerciciobalong>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>